@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Mona Sans";
  src:
    url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --background: oklch(0.94 0.03 295);
  --primary: oklch(0.14 0 286);
  --secondary: oklch(0.27 0.01 286);
  --muted: oklch(0.37 0.01 286);
}

.dark {
  --background: oklch(0.14 0 286);
  --primary: oklch(0.97 0 286);
  --secondary: oklch(0.92 0 286);
  --muted: oklch(0.87 0.01 286);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
}

html {
  font-family:
    "Mona Sans", Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;

  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
