---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Iridescence from "../components/Iridescence";
import Experince from "../components/Experince.astro";
import Noise from "../components/Noise.astro";
import Typewriter from "../components/Typewriter";
import Project from "../components/Project.astro";

import LinkedinLogo from "../assets/linkedin-logo.svg";
import InstagramLogo from "../assets/instagram-logo.svg";
import GithubLogo from "../assets/github-logo.svg";

import comingSoon from "../assets/comingsoon.png";
---

<script>
  import { animate } from "motion/mini";
</script>

<Layout>
  <div id="container" class="h-full">
    <div class="blur-[100px] fixed top-0 left-0 w-full h-full -z-2">
      <Iridescence
        color={[1, 1, 1]}
        mouseReact={false}
        amplitude={0.1}
        speed={0.1}
        client:load
      />
    </div>
    <Noise
      className=" bg-background dark:bg-background opacity-20 dark:opacity-70 transition-all duration-700 fixed top-0 left-0 w-full h-full -z-1"
    />
    <main class="w-full flex justify-center">
      <div
        class="flex w-1/2 items-start mt-25 flex-col justify-start space-y-22"
      >
        <!-- ABOUT SECTION -->
        <div>
          <h1 class="text-3xl font-bold mb-2 text-primary">
            <Typewriter speed={50} text="I\\\'m Cameron Lopez" client:load />
          </h1>
          <h2 id="reveal" class="text-xl mb-4 text-secondary opacity-0">
            Full-stack Developer
          </h2>
          <p id="reveal" class="w-[92%] text-muted opacity-0">
            I build accessible, user-friendly web applications with modern
            technologies. Focused on creating clean, efficient code and
            intuitive user experiences. Currently working at Tech Company Inc.
            where I lead frontend development for our flagship product.
          </p>
        </div>

        <!-- EXPERIENCE -->
        <div id="reveal" class="opacity-0 hidden">
          <h2 class="text-2xl mb-6 text-primary">Experience</h2>
          <div class="space-y-6">
            <Experince
              title="Engineering Technician II"
              company="Tesla"
              timeline="July 2024 - Present"
              items={[
                "Developed interactive dashboards to visualize data from MySQL, tracking KPIs, managing headcount, and monitoring production line downtime",
                "Created an internal all-in-one training website to streamline tracking, scheduling, and sign-up processes, using TypeScript, Remix, TailwindCSS, Drizzle, Git, and Node.js",
                'Developed a "toolbox" website enabling efficient use of internal Tesla APIs for technician operations, using React Router, TypeScript, TailwindCSS, Git, and Node.js',
              ]}
            />
            <Experince
              title="Engineering Technician"
              company="Tesla"
              timeline="August 2023 - July 2024"
              items={[
                "Developed a Microsoft Teams bot to automate the tracking of daily technician tasks and resourceallocation, utilizing Git, MySQL, TypeScript, Microsoft Bot FrameworkSDK, and Node.js.",
                "Deployed internal serverless applications using Docker and Kubernetes for scalable, efficient hosting.",
                "Managed project progress and tracked work hours through Jira tickets, ensuring alignment with deadlines and objectives.",
              ]}
            />
          </div>
        </div>

        <!-- PROJECTS -->
        <div id="reveal" class="opacity-0 hidden">
          <h2 class="text-2xl mb-6 text-primary">Projects</h2>

          <div class="flex flex-col space-y-6">
            <Project
              title="Film Picker"
              image={{ location: comingSoon, alt: "Coming soon image" }}
              description="A web-app that picks and tracks flims for you. It helps you find a film to watch based on your preferences and allows you to keep track of the films that you do watch. "
              tags={["TypeScript", "React Router", "TailwindCSS", "Drizzle"]}
            />
            <Project
              title="TreeHouse"
              image={{ location: comingSoon, alt: "Coming soon image" }}
              description="A privacy focused social media platform that allows you to anonymously connect with others around you based on GPS."
            />
          </div>
        </div>

        <!-- Contact -->
        <div
          id="reveal"
          class="flex flex-col justify-center w-full h-45 items-center opacity-0 hidden"
        >
          <h2 class="text-3xl mb-14 text-primary">
            I'd love to work with you!
          </h2>

          <a href="mailto:hello@cameronlopez.me"
            ><span
              class="p-2 rounded-2xl bg-radial from-violet-300/60 to-pink-300/60 text-secondary"
              >Contact me</span
            ></a
          >
        </div>

        <!-- Footer -->
        <div
          id="reveal"
          class="flex flex-row h-14 w-full justify-between items-center opacity-0 hidden"
        >
          <div class="flex flex-row space-x-2 text-primary">
            <a href="https://www.linkedin.com/in/camahlopez/" target="_blank">
              <LinkedinLogo width={20} height={20} />
            </a>
            <a href="https://github.com/cahlopez" target="_blank">
              <GithubLogo width={20} height={20} />
            </a>
            <a href="https://instagram.com/_cameronlopez" target="_blank">
              <InstagramLogo width={20} height={20} />
            </a>
          </div>

          <p class="text-primary">Built with Astro and TailwindCSS</p>
        </div>
      </div>
    </main>
  </div>
</Layout>
