---
import ThemeIcon from "../components/ThemeIcon.astro";
import "../styles/global.css";

import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="preload"
      href="/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>Cameron Lopez</title>
  </head>
  <body class="m-0 w-full h-full">
    <ThemeIcon />
    <slot />

    <Analytics />
  </body>
</html>
